<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheet/app.css">
    <title>Dog Blog Page</title>
</head>

<body>
    <div class="ui menu inverted segment">
        <div class="header item">
            <i class="compress icon"></i>Our Company
        </div>
        <div class="right menu">
            <a class="item" href="/dogs">
                Home
            </a>
            <a class="item" href="/dogs/new">
                New Post
            </a>
            <a class="item">
                Contact us
            </a>
        </div>

    </div>